{% extends "app/layout.html" %}

{% load staticfiles %}
{% load jsonify %}

{% block scripts %}
<script src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script>
<script src="https://cdn.datatables.net/select/1.3.0/js/dataTables.select.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script src="https://editor.datatables.net/extensions/Editor/js/editor.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/select/1.3.0/js/dataTables.select.min.js"></script>
{% if d_data %}
    <script>
        $(document).ready(function () {
            // d_data should be jsonified by jsonify django filter.
            var t_data = JSON.parse({{ d_data |jsonify}});
            datatotable_gen(t_data, 'admin_table');
        });
    </script>
{% endif %}
{% endblock %}

{% block content %}

<div class="container-fluid">
    <h1>{{dashboard_title}}</h1>
{% if user.is_superuser %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <form id="upload_form" action={% url 'uploadfile' %} method="post" class="form-horizontal" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-sm-4">
                        <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" class="form-control" name="infile" />
                        <br/>
                        <div><button type="submit">Upload</button></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% if uploaded_file_url %}
<div class="container-fluid">File Uploaded Successfully!</div>
{% endif %}
{% endif %}


<div class="container-fluid">
    <table id="admin_table" class="table table-striped table-bordered">
  <thead>
    <tr>
    </tr>
  </thead>       
  </table>
</div>


{% endblock %}
</div>