<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{{ title }} - Feature Tracker Application</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'app/content/site.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"></script>
<script src="{% static 'app/scripts/admin_dashboard.js' %}"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">FeatureTracker</a>
                </div>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>
                    <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
                    <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
                </div>
                {% include 'app/loginpartial.html' %}
            </div>
                </div>
        </nav>
    </header>
    <main class="container-fluid">
        {% block content %}{% endblock %}
    </main>
    <footer class="footer">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <p>&copy; {{ year }} - FeatureTracker Application</p>
            </div>
        </div>
    </footer>
{% block scripts %}{% endblock %}
</body>
</html>                            