{% if user.is_authenticated %}

<form id="logoutForm" action="/logout/" method="post" >
    <ul class="nav navbar-nav navbar-right">
        {% csrf_token %}
        <li><a><span class="glyphicon glyphicon-user"></span> {{ user.username }}</a></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
</form>

{% else %}

<ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
</ul>

{% endif %}
