{% extends "app/layout.html" %}
{% load staticfiles %}
{% block scripts %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>
<script src="{% static 'app/scripts/login.js' %}"></script>
{% endblock %}

{% block content %}
<br/>

<!-- Modal HTML -->
<div id="loginmodal" class="modal fade" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-login">
		<div class="modal-content">
			<div class="modal-header">
                <div>
                {% if form.errors %}
                    <p class="validation-summary-errors">Please enter a correct username and password.</p>
                {% endif %}
                </div>               
				<div class="avatar">
					<img src="{% static 'app/images/avatar.png' %}" alt="Avatar">
				</div>				
				<h4 class="modal-title">Member Login</h4>	
			</div>
			<div class="modal-body">
				<form action="." method="post">
                     {% csrf_token %}
					<div class="form-group">
                        {{ form.username }}
					</div>
					<div class="form-group">
                        {{ form.password }}
					</div>        
					<div class="form-group">
                        <input type="hidden" name="next" value="/" />
						<button type="submit" class="btn btn-primary btn-lg btn-block login-btn">Login</button>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<a href="#">Forgot Password?</a>
			</div>
		</div>
	</div>
</div>


{% endblock %}
